body {
  background-color: #f9f7fe;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
}
.container {
  background-color: white;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.city {
  display: flex;
  margin: 20px auto;
  justify-content: space-between;
  font-family: sans-serif;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
  padding: 20px 0;
}

.city:last-child {
  border: none;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 5px;
}

.date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}
.time {
  font-size: 52px;

  line-height: 54px;
}
small {
  vertical-align: middle;
  font-size: 20px;
}
footer {
  text-align: center;
  margin: 20px;
}
